.accountbook-page {
  display: inline-block;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #F0F1F4;
}

.accountbook-info-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 90%;
  background-color: white;
  border-radius: 1rem;
}

.toggle-container {
  display: inline-block;
  width: 90%;
  text-align: right;
}

.toggle-button {
  width: 6rem;
  height: 2rem;
  background-color: white;
  border: 1px solid #0046FF;
  border-radius: 0.7rem;
}

.calendar-container {
  display: inline-block;
  width: 90%;
  margin-bottom: 1.3rem;
}

.accountbook-button-container {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.accountbook-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.7rem;
  width: 11rem;
  height: 2.7rem;
  background-color: #0046FF;
  border-radius: 1rem;
}

.accountbook-link {
  color: white;
}