.accountbook_page{
  background-color: bisque;
  height: 925px;
}


.upper_information_box{
  width: 390px;
  height: 100px;
  background-color: white;
}


.toggle_container{
  margin-top: 10px;
  width: 390px;
  height: 100px;

}

.calander_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 390px;
  height: 390px;
  background-color: white;
}

.calander{
  border: 1px solid black;
  width: 330px;
  height: 330px;
  background-color: beige;
}