/* DiaryPage.css */

/* 전체 페이지 컨테이너 스타일 */
.accountbook-page {
  font-family: Tahoma, Arial, sans-serif;
  color: #333; /* 일반 텍스트 컬러 설정 */
}

/* 정보 컨테이너 스타일 */
.accountbook-info-container {
  /* 이전 스타일 유지 */

  /* 글자 폰트 및 색상 설정 */
  font-family: Tahoma, Arial, sans-serif;
  color: #333; /* 일반 텍스트 컬러 설정 */
}

/* 토글 버튼 스타일 */
.toggle-button {
  font-family: Tahoma, Arial, sans-serif;
  color: #0046FF; /* 토글 버튼 텍스트 컬러 설정 */
}

/* 버튼 스타일 */
.accountbook-button {
  font-family: Tahoma, Arial, sans-serif;
  color: white; /* 버튼 텍스트 컬러 설정 */
}

/* 링크 스타일 */
.accountbook-link {
  font-family: Tahoma, Arial, sans-serif;
  color: white; /* 링크 텍스트 컬러 설정 */
}
