/* MainPage.css */
.main_page{
  display: inline-block;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #F0F1F4;
}

.progressive_bar{
  /* margin-top: 2rem; */
  /* width: 390px; */
  width: 100%;
  height: 0.7rem;
  /* height: ; */
  background-color: #7C9FFE;
}

.daily_consumption_plan_box{
  width: 100%;
  /* height: 10rem; */
  background-color: #0046FF;
  text-align: center;
}

.main-header-info-text-container {
  padding-top: 0.9rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: white;
}

.main-header-content-text-container {
  display: inline-block;
  width: 70%;
  color: white;
  text-align: left;
  margin-bottom: 0.9rem;
}

.main-header-content-text {
  margin-bottom: 0.15rem;
}

.todays-ai-diary-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.main-page-size-container {
  display: inline-block;
  width: 90%;
}

.main-page-title-container {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.tomorrow-consumption-container {
  margin-bottom: 1.5rem;
  background-color: #F0F1F4;
}

.todays_ai_diary-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8rem;
  background-color: white;
  border-radius: 0.8rem;
  position: relative;
}

.todays_ai_diary-content-date{
  position: absolute;
  top: 0.4rem;
  left: 0.7rem;
  color: rgb(150, 150, 150);
}

.todays_ai_diary-content-feel{
  font-size: 2.5rem;
}

.tomorrow-consumption-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.8rem;
}

.todays-ai-consumption-feedback-container {
  background-color: #F0F1F4;
}

.todays-ai-consumption-feedback-content-container {
  display: flex;
  height: 8rem;
  background-color: white;
  border-radius: 0.8rem;
}

.todays-ai-consumption-feedback-content-icon-container {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todays-ai-consumption-feedback-content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: left;
}
