/* MainPage.css */

/* 바디 폭만 잡아주기 */
.body {
  width: 390px;
  height: 200px;
  background-color: blueviolet;
}

/* 하단네비게이션 바 위치고정 */
.undernavbar {
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

/* 상단네비게이션 바 위치고정 */
.uppernavbar {
  top: 0;
  position: fixed;
  z-index: 1000;
}

.box1{
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: blue;

}
.box2{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.box3{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.box4{
  width: 100px;
  height: 100px;
  background-color: blue;
}
