.signup-page {
  display: inline-block;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #F0F1F4;
}

.signup-input-container {
  border: 1px solid #919191;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}